.todo-view {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: left;
  align-content: space-evenly;
  justify-content: center;
  width: 100vw;
  height: 100%;
}

li {
  list-style-type: none;
  margin: 24px 0;
}

.todo-list__container {
  width: 70vw;
  padding-left: 0;
}

.todo-item__name {
  font-size: 1.2rem;
  margin: 0 0 8px;
  padding: 4px 0;
  border-bottom: 1px solid #ddd;
}

.todo-item__description {
  padding-bottom: 16px;
}
